.clothing-attribute-container{
  padding-top: 100px;
  font-family: monospace;
  font-size: 35px;
}

.attribute{
  padding-top: 50px;
}

.status-attribute{
  padding-left: 15px;
  color: darkgreen;
}

.output-image-container{
  padding-top: 100px;
}

.output-image{
  height: 600px;
  width: 400px;
}

.collection-button-container{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

@media only screen and (max-device-width : 425px) {

  .output-button-style{
    height: 40px;
    font-size: 7px;
  }

  .clothing-attribute-container{
    padding-top: 100px;
    font-family: monospace;
    font-size: 10px;
  }
  .output-image{
    height: 225px;
    width: 150px;
    padding-right: 10px;
  }
  .attribute{
    padding-top: 30px;
    padding-left: 10px;
  }
}
