.clothing-attribute-container{
  padding-top: 100px;
  padding-left: 100px;
  font-family: monospace;
  font-size: 35px;
}

.attribute{
  padding-top: 50px;
}

.status-attribute{
  padding-left: 15px;
  color: darkgreen;
}

.output-image-container{
  padding-top: 100px;
}

.collection-button-container{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
