.clothing-attribute-container{
  padding-top: 100px;
  font-family: monospace;
  font-size: 35px;
  margin-right: 60px;
}

.attribute{
  padding-top: 50px;
}

.btn-output{
  color: white;
  background-color: #81bf75;
  font-family: monospace;
  border-radius: .25rem;
}

.custom-style{
  color: white;
  background-color: #81bf75;
}

.status-attribute{
  padding-left: 15px;
  color: darkgreen;
}

.status-attribute-unavailable{
  padding-left: 15px;
  color: darkred;
}

.output-image-container{
  margin-top: 100px;
  height: 600px;
  width: 400px;
}

.output-image{
  height: 600px;
  width: 400px;
}

.collection-button-container{
  display: flex;
  justify-content: center;
  padding-top: 35px;
  font-family: monospace;
}

@media only screen and (max-device-width : 425px) {

  .clothing-attribute-container{
    padding-top: 100px;
    font-family: monospace;
    font-size: 10px;
    margin-right: 15px;
  }

  .output-image-container{
    height: 225px;
    width: 150px;
  }

  .collection-button-container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-family: monospace;
  }

  .collection-button-text{
    font-size: 9px;
  }

  .output-image{
    height: 225px;
    width: 150px;
    padding-right: 10px;
  }
  .attribute{
    padding-top: 30px;
    padding-left: 10px;
  }
}
