.scan-page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.scan-header{
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-family: monospace;
}

.scan-container{
  display: flex;
  justify-content: center;
}

.stacked-div{
  position: absolute;
}

.shapes-container{
  height: 650px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container{
  height: 500px;
  width: 700px;
}

.lines-container{
  height: 240px;
  width: 320px;
}

.button-text{
  font-family: monospace;
}

@media only screen and (max-device-width : 425px) {
  .scan-container{
    display: flex;
    justify-content: center;
  }
  .shapes-container{
    height: 315px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .scan-header{
    padding-bottom: 10px;
    font-size: 30px;
    font-family: monospace;
  }
  .scan-page-container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
