.webcam-header{
  font-size: 45px;
  font-family: monospace;
}

.stacked-div{
  position: absolute;
}

.shapes-container{
  height: 650px;
  width: 650px;
}

.lines-container{
  height: 250px;
  width: 370px;
}

.button-text{
  font-family: monospace;
}
