.webcam-header{
  font-size: 45px;
  font-family: monospace;
}

.stacked-div{
  position: absolute;
}

.shapes-container{
  height: 550px;
  width: 575px;
}

.button-text{
  font-family: monospace;
}
