.select-material-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.select-material-header{
  padding-top: 60px;
  font-size: 45px;
  font-family: monospace;
}

.select-material-list-container{
  width:300px;
}

.material-button-container{
  display: flex;
  justify-content: flex-end;
}
