.select-material-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.select-material-header{
  font-size: 45px;
  font-family: monospace;
}

.select-material-list-container{
  width:300px;
}

.material-button-container{
  display: flex;
  justify-content: flex-end;
  font-family: monospace;
}

.button-and-header{
  display: flex;
  flex-direction: column;
}

.button-header{
  color: black;
  font-size: 10px;
  height: 10px;
}

.select-material-button{
  padding-right: 20px;
}

@media only screen and (max-device-width : 425px) {
  .select-material-header{
    font-size: 25px;
    font-family: monospace;
  }
}
