.fuck {
  padding: 0px;
}

.row-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: inset;
  border-style: inset;
  padding: 0px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.row-container-clicked{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgrey;
}

.row-container-clicked:hover{
  cursor: pointer;
}


.row-container:hover{
  cursor: pointer;
}

.row-image{
  height: 60px;
}

.row-material{
  padding-left: 30px;
  font-size: 20px;
  font-family: monospace;
}

.row-material-clicked:hover{
  background-color: lightgrey;
}

@media only screen and (max-device-width : 425px) {
  .row-image{
    height: 40px;
  }

  .row-material{
    padding-left: 30px;
    font-size: 15px;
    font-family: monospace;
  }

  .row-material-clicked:hover{
    background-color: lightgrey;
  }
}
