.webcam-header{
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 45px;
  font-family: monospace;
}

.stacked-div{
  position: absolute;
}

.shapes-container{
  height: 800px;
  width: 800px;
}
