.select-output-container{
  text-align: center;
}

.select-output-header{
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: monospace;
  font-size: 45px;
}

.clothing-vector-unit{
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clothing-vector-image{
  width: 200px;
}

.clothing-vector-image:hover{
  cursor: pointer;
}

.clothing-vector-image-clicked{
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px #E65243;
  width:200px;
}
.clothing-vector-image-clicked:hover{
  cursor: pointer;
}

.radio-buttons-header{
  font-size: 35px;
  font-family: monospace;
}

.clothing-vectors-column-container{
  display: flex;
  flex-direction: row;
}

.clothing-vectors-container{
  display: flex;
  flex-direction: column;
}

.scrolling-container{
  position: relative;
  height: 500px;
  width: 720px;
  overflow: scroll;
}

@media only screen and (max-device-width : 425px) {
  .clothing-vectors-column-container{
    display: flex;
    flex-direction: column;
  }
  .scrolling-container{
    position: relative;
    height: 300px;
    overflow: scroll;
    width: 160px;
  }
  .clothing-vector-unit{
    width: 150px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .clothing-vector-image{
    width: 130px;
  }
  .clothing-vector-image-clicked{
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px #E65243;
    width: 140px;
  }
  .select-output-header{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: monospace;
    font-size: 17px;
  }
}
