.select-output-container{
  text-align: center;
}

.select-output-header{
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: monospace;
  font-size: 45px;
}

.clothing-vector-unit{
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clothing-vector-image-clicked{
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px #0ff;
}
